<div class="l-nav">
  <div class="l-logo">
    <%= link_to 'notecase', root_path %>
  </div>

  <div class="l-menu">
    <ul>
      <li class="is-active"><%= fa_icon('sticky-note-o') %><a href="#">Notes</a></li>
      <li><%= fa_icon('star-o') %><a href="#">Favorites</a></li>
    </ul>
    <a href="#" class="button button-default button-round button-full"><%= fa_icon('plus') %>New Note</a>
  </div>

  <div class="l-search">
    <div class="search-keywords">
      <form>
        <input type="text" autofocus placeholder="Search notes">
      </form>
    </div>

    <div class="search-tags">
      <h3><%= fa_icon('tag') %>Tags</h3>
      <ul>
        <% 10.times do %><li class="label label-default">Tag Name</li><% end %>
      </ul>
    </div>

    <div class="search-users">
      <h3><%= fa_icon('user') %>Users</h3>
      <ul>
        <% 5.times do %><li class="label label-default"><img src="http://placehold.it/26x26/86938d">User Name</li><% end %>
      </ul>
    </div>
  </div>

  <div class="l-dropdown">
    <a href="#"><img src="http://placehold.it/36x36/86938d">User Name</a>
  </div>
</div>

<div class="l-notes">
</div>

<div class="l-note">
</div>
